.Carro{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 57%;
    top: 65px
}
.CarroContenedor{
    width: 600px;
    height: 600px;
    background-color: white;
    border: black 1px solid;

}
.Cerrar{
    display: flex;
    flex-direction: column;
    width: 10%;

    

}
.CerrarBoton{
border-radius: 90%;
padding:15px;
position: absolute;
left: 580px;
top: -15px;
font-weight: 900;
}