.TituloCategorias {
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
}

.Categorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    margin: 5px auto;
}

.Categorias button {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2px auto;
    border-radius: 10px;
    padding: 5px;
}

.Catlinks {
    list-style: none;
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    border-radius: 10px;
    font-size: 20px;

}

.Catlinks :link {
    text-decoration: none;
    padding: 20px 10px;
    color: black;
}

.Catlinks a {
    color: black;
}