.carroConContador {
    display: flex;
    flex-direction: row;
}

.ImgCarrito {
    height: 30px;
    width: auto;
    border: white 1px;
    align-self: center;
    justify-self: center;
    cursor: pointer;


}

.ImgCarrito:hover {
    transform: scale(1.1);
}